In [38]:
import pandas as pd
import numpy as np

In [39]:
primer_array=np.linspace(1, 50, 50)

segundo_array=np.linspace(50, 150, 101)

In [40]:
for i in primer_array:
    if i%2==0:
        print(f'El número {i} es par')
    else:
        i%2!=1
        print(f'El número {i} es impar')

El número 1.0 es impar
El número 2.0 es par
El número 3.0 es impar
El número 4.0 es par
El número 5.0 es impar
El número 6.0 es par
El número 7.0 es impar
El número 8.0 es par
El número 9.0 es impar
El número 10.0 es par
El número 11.0 es impar
El número 12.0 es par
El número 13.0 es impar
El número 14.0 es par
El número 15.0 es impar
El número 16.0 es par
El número 17.0 es impar
El número 18.0 es par
El número 19.0 es impar
El número 20.0 es par
El número 21.0 es impar
El número 22.0 es par
El número 23.0 es impar
El número 24.0 es par
El número 25.0 es impar
El número 26.0 es par
El número 27.0 es impar
El número 28.0 es par
El número 29.0 es impar
El número 30.0 es par
El número 31.0 es impar
El número 32.0 es par
El número 33.0 es impar
El número 34.0 es par
El número 35.0 es impar
El número 36.0 es par
El número 37.0 es impar
El número 38.0 es par
El número 39.0 es impar
El número 40.0 es par
El número 41.0 es impar
El número 42.0 es par
El número 43.0 es impar
El número 44.0 es par
El número 45.0 es impar
El número 46.0 es par
El número 47.0 es impar
El número 48.0 es par
El número 49.0 es impar
El número 50.0 es par

In [41]:
for i in segundo_array:
    if i%2==0:
        print(f'El número {i} es divisible 2')
    else:
        i%3==0
        print(f'El número {i} es divisible por 3')

El número 50.0 es divisible 2
El número 51.0 es divisible por 3
El número 52.0 es divisible 2
El número 53.0 es divisible por 3
El número 54.0 es divisible 2
El número 55.0 es divisible por 3
El número 56.0 es divisible 2
El número 57.0 es divisible por 3
El número 58.0 es divisible 2
El número 59.0 es divisible por 3
El número 60.0 es divisible 2
El número 61.0 es divisible por 3
El número 62.0 es divisible 2
El número 63.0 es divisible por 3
El número 64.0 es divisible 2
El número 65.0 es divisible por 3
El número 66.0 es divisible 2
El número 67.0 es divisible por 3
El número 68.0 es divisible 2
El número 69.0 es divisible por 3
El número 70.0 es divisible 2
El número 71.0 es divisible por 3
El número 72.0 es divisible 2
El número 73.0 es divisible por 3
El número 74.0 es divisible 2
El número 75.0 es divisible por 3
El número 76.0 es divisible 2
El número 77.0 es divisible por 3
El número 78.0 es divisible 2
El número 79.0 es divisible por 3
El número 80.0 es divisible 2
El número 81.0 es divisible por 3
El número 82.0 es divisible 2
El número 83.0 es divisible por 3
El número 84.0 es divisible 2
El número 85.0 es divisible por 3
El número 86.0 es divisible 2
El número 87.0 es divisible por 3
El número 88.0 es divisible 2
El número 89.0 es divisible por 3
El número 90.0 es divisible 2
El número 91.0 es divisible por 3
El número 92.0 es divisible 2
El número 93.0 es divisible por 3
El número 94.0 es divisible 2
El número 95.0 es divisible por 3
El número 96.0 es divisible 2
El número 97.0 es divisible por 3
El número 98.0 es divisible 2
El número 99.0 es divisible por 3
El número 100.0 es divisible 2
El número 101.0 es divisible por 3
El número 102.0 es divisible 2
El número 103.0 es divisible por 3
El número 104.0 es divisible 2
El número 105.0 es divisible por 3
El número 106.0 es divisible 2
El número 107.0 es divisible por 3
El número 108.0 es divisible 2
El número 109.0 es divisible por 3
El número 110.0 es divisible 2
El número 111.0 es divisible por 3
El número 112.0 es divisible 2
El número 113.0 es divisible por 3
El número 114.0 es divisible 2
El número 115.0 es divisible por 3
El número 116.0 es divisible 2
El número 117.0 es divisible por 3
El número 118.0 es divisible 2
El número 119.0 es divisible por 3
El número 120.0 es divisible 2
El número 121.0 es divisible por 3
El número 122.0 es divisible 2
El número 123.0 es divisible por 3
El número 124.0 es divisible 2
El número 125.0 es divisible por 3
El número 126.0 es divisible 2
El número 127.0 es divisible por 3
El número 128.0 es divisible 2
El número 129.0 es divisible por 3
El número 130.0 es divisible 2
El número 131.0 es divisible por 3
El número 132.0 es divisible 2
El número 133.0 es divisible por 3
El número 134.0 es divisible 2
El número 135.0 es divisible por 3
El número 136.0 es divisible 2
El número 137.0 es divisible por 3
El número 138.0 es divisible 2
El número 139.0 es divisible por 3
El número 140.0 es divisible 2
El número 141.0 es divisible por 3
El número 142.0 es divisible 2
El número 143.0 es divisible por 3
El número 144.0 es divisible 2
El número 145.0 es divisible por 3
El número 146.0 es divisible 2
El número 147.0 es divisible por 3
El número 148.0 es divisible 2
El número 149.0 es divisible por 3
El número 150.0 es divisible 2

In [42]:
for i in segundo_array:
    if i%2==0 and i%3==0:
        print(f'El número {i} es divisible 2 y por 3')

El número 54.0 es divisible 2 y por 3
El número 60.0 es divisible 2 y por 3
El número 66.0 es divisible 2 y por 3
El número 72.0 es divisible 2 y por 3
El número 78.0 es divisible 2 y por 3
El número 84.0 es divisible 2 y por 3
El número 90.0 es divisible 2 y por 3
El número 96.0 es divisible 2 y por 3
El número 102.0 es divisible 2 y por 3
El número 108.0 es divisible 2 y por 3
El número 114.0 es divisible 2 y por 3
El número 120.0 es divisible 2 y por 3
El número 126.0 es divisible 2 y por 3
El número 132.0 es divisible 2 y por 3
El número 138.0 es divisible 2 y por 3
El número 144.0 es divisible 2 y por 3
El número 150.0 es divisible 2 y por 3

In [43]:
for i in segundo_array:
    if i%2!=0 and i%3==0:
        print(f'El número {i} es divisible 3 y no por 2')

El número 51.0 es divisible 3 y no por 2
El número 57.0 es divisible 3 y no por 2
El número 63.0 es divisible 3 y no por 2
El número 69.0 es divisible 3 y no por 2
El número 75.0 es divisible 3 y no por 2
El número 81.0 es divisible 3 y no por 2
El número 87.0 es divisible 3 y no por 2
El número 93.0 es divisible 3 y no por 2
El número 99.0 es divisible 3 y no por 2
El número 105.0 es divisible 3 y no por 2
El número 111.0 es divisible 3 y no por 2
El número 117.0 es divisible 3 y no por 2
El número 123.0 es divisible 3 y no por 2
El número 129.0 es divisible 3 y no por 2
El número 135.0 es divisible 3 y no por 2
El número 141.0 es divisible 3 y no por 2
El número 147.0 es divisible 3 y no por 2

In [44]:
for i in segundo_array:
    if i%2!=0 and i%3!=0:
        print(f'El número {i} no es divisible por 2 ni por 3')

El número 53.0 no es divisible por 2 ni por 3
El número 55.0 no es divisible por 2 ni por 3
El número 59.0 no es divisible por 2 ni por 3
El número 61.0 no es divisible por 2 ni por 3
El número 65.0 no es divisible por 2 ni por 3
El número 67.0 no es divisible por 2 ni por 3
El número 71.0 no es divisible por 2 ni por 3
El número 73.0 no es divisible por 2 ni por 3
El número 77.0 no es divisible por 2 ni por 3
El número 79.0 no es divisible por 2 ni por 3
El número 83.0 no es divisible por 2 ni por 3
El número 85.0 no es divisible por 2 ni por 3
El número 89.0 no es divisible por 2 ni por 3
El número 91.0 no es divisible por 2 ni por 3
El número 95.0 no es divisible por 2 ni por 3
El número 97.0 no es divisible por 2 ni por 3
El número 101.0 no es divisible por 2 ni por 3
El número 103.0 no es divisible por 2 ni por 3
El número 107.0 no es divisible por 2 ni por 3
El número 109.0 no es divisible por 2 ni por 3
El número 113.0 no es divisible por 2 ni por 3
El número 115.0 no es divisible por 2 ni por 3
El número 119.0 no es divisible por 2 ni por 3
El número 121.0 no es divisible por 2 ni por 3
El número 125.0 no es divisible por 2 ni por 3
El número 127.0 no es divisible por 2 ni por 3
El número 131.0 no es divisible por 2 ni por 3
El número 133.0 no es divisible por 2 ni por 3
El número 137.0 no es divisible por 2 ni por 3
El número 139.0 no es divisible por 2 ni por 3
El número 143.0 no es divisible por 2 ni por 3
El número 145.0 no es divisible por 2 ni por 3
El número 149.0 no es divisible por 2 ni por 3

In [45]:
for i in range(100):
    print(i**2)#el error era el I mayúscula en el print.

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

In [46]:
df=pd.read_csv("flights.csv")
print(df)

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
..    ...        ...         ...
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

In [47]:
mediana_passengers=df['passengers'].median()
print(mediana_passengers)

265.5

In [48]:
media_passengers=df['passengers'].mean()
print(media_passengers)

280.2986111111111

In [49]:
df['underperforming']=0

In [50]:
print(df)

     year      month  passengers  underperforming
0    1949    January         112                0
1    1949   February         118                0
2    1949      March         132                0
3    1949      April         129                0
4    1949        May         121                0
..    ...        ...         ...              ...
139  1960     August         606                0
140  1960  September         508                0
141  1960    October         461                0
142  1960   November         390                0
143  1960   December         432                0

[144 rows x 4 columns]

In [51]:
"""
new_col=[]

for idx, serie_row in df.iterrows():
    aux_sex=serie_row['passengers']
    if aux_sex<media_passengers:
        new_col.append("1")
    else:
        aux_sex>=media_passengers
        new_col.append("0")

df['underperforming']=new_col
print(df)
"""

'\nnew_col=[]\n\nfor idx, serie_row in df.iterrows():\n    aux_sex=serie_row[\'passengers\']\n    if aux_sex<media_passengers:\n        new_col.append("1")\n    else:\n        aux_sex>=media_passengers\n        new_col.append("0")\n\ndf[\'underperforming\']=new_col\nprint(df)\n'

In [52]:
df.at[143,'underperforming']=1

In [53]:
df.at[143,'underperforming']

1

In [54]:
for idx, serie_row in df.iterrows():
    aux_sex=serie_row['passengers']
    if aux_sex<media_passengers:
        df.at[idx,'underperforming']=1
    else:
        aux_sex>=media_passengers
        df.at[idx,'underperforming']=0

print(df)

     year      month  passengers  underperforming
0    1949    January         112                1
1    1949   February         118                1
2    1949      March         132                1
3    1949      April         129                1
4    1949        May         121                1
..    ...        ...         ...              ...
139  1960     August         606                0
140  1960  September         508                0
141  1960    October         461                0
142  1960   November         390                0
143  1960   December         432                0

[144 rows x 4 columns]

In [56]:
df.iterrows()

<generator object DataFrame.iterrows at 0x000001EC76618BA0>

In [68]:
desviacion_estandar=df['passengers'].std()
print(desviacion_estandar)

119.96631694294321

In [60]:
df.mean()

C:\Users\mauri\AppData\Local\Temp\ipykernel_11092\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

year               1954.500000
passengers          280.298611
underperforming       0.555556
dtype: float64

In [70]:
df['outlier']=0
print(df)

     year      month  passengers  underperforming  outlier
0    1949    January         112                1        0
1    1949   February         118                1        0
2    1949      March         132                1        0
3    1949      April         129                1        0
4    1949        May         121                1        0
..    ...        ...         ...              ...      ...
139  1960     August         606                0        0
140  1960  September         508                0        0
141  1960    October         461                0        0
142  1960   November         390                0        0
143  1960   December         432                0        0

[144 rows x 5 columns]

In [78]:
for idx, serie_row in df.iterrows():
    aux=serie_row['passengers']
    print(media_passengers-desviacion_estandar)
    print(aux)
    print(media_passengers+desviacion_estandar)
    if aux>(media_passengers+desviacion_estandar) and aux<(media_passengers-desviacion_estandar):
        df.at[idx,'outlier']=1
        print(idx,serie_row)

160.3322941681679
112
400.2649280540543
160.3322941681679
118
400.2649280540543
160.3322941681679
132
400.2649280540543
160.3322941681679
129
400.2649280540543
160.3322941681679
121
400.2649280540543
160.3322941681679
135
400.2649280540543
160.3322941681679
148
400.2649280540543
160.3322941681679
148
400.2649280540543
160.3322941681679
136
400.2649280540543
160.3322941681679
119
400.2649280540543
160.3322941681679
104
400.2649280540543
160.3322941681679
118
400.2649280540543
160.3322941681679
115
400.2649280540543
160.3322941681679
126
400.2649280540543
160.3322941681679
141
400.2649280540543
160.3322941681679
135
400.2649280540543
160.3322941681679
125
400.2649280540543
160.3322941681679
149
400.2649280540543
160.3322941681679
170
400.2649280540543
160.3322941681679
170
400.2649280540543
160.3322941681679
158
400.2649280540543
160.3322941681679
133
400.2649280540543
160.3322941681679
114
400.2649280540543
160.3322941681679
140
400.2649280540543
160.3322941681679
145
400.2649280540543
160.3322941681679
150
400.2649280540543
160.3322941681679
178
400.2649280540543
160.3322941681679
163
400.2649280540543
160.3322941681679
172
400.2649280540543
160.3322941681679
178
400.2649280540543
160.3322941681679
199
400.2649280540543
160.3322941681679
199
400.2649280540543
160.3322941681679
184
400.2649280540543
160.3322941681679
162
400.2649280540543
160.3322941681679
146
400.2649280540543
160.3322941681679
166
400.2649280540543
160.3322941681679
171
400.2649280540543
160.3322941681679
180
400.2649280540543
160.3322941681679
193
400.2649280540543
160.3322941681679
181
400.2649280540543
160.3322941681679
183
400.2649280540543
160.3322941681679
218
400.2649280540543
160.3322941681679
230
400.2649280540543
160.3322941681679
242
400.2649280540543
160.3322941681679
209
400.2649280540543
160.3322941681679
191
400.2649280540543
160.3322941681679
172
400.2649280540543
160.3322941681679
194
400.2649280540543
160.3322941681679
196
400.2649280540543
160.3322941681679
196
400.2649280540543
160.3322941681679
236
400.2649280540543
160.3322941681679
235
400.2649280540543
160.3322941681679
229
400.2649280540543
160.3322941681679
243
400.2649280540543
160.3322941681679
264
400.2649280540543
160.3322941681679
272
400.2649280540543
160.3322941681679
237
400.2649280540543
160.3322941681679
211
400.2649280540543
160.3322941681679
180
400.2649280540543
160.3322941681679
201
400.2649280540543
160.3322941681679
204
400.2649280540543
160.3322941681679
188
400.2649280540543
160.3322941681679
235
400.2649280540543
160.3322941681679
227
400.2649280540543
160.3322941681679
234
400.2649280540543
160.3322941681679
264
400.2649280540543
160.3322941681679
302
400.2649280540543
160.3322941681679
293
400.2649280540543
160.3322941681679
259
400.2649280540543
160.3322941681679
229
400.2649280540543
160.3322941681679
203
400.2649280540543
160.3322941681679
229
400.2649280540543
160.3322941681679
242
400.2649280540543
160.3322941681679
233
400.2649280540543
160.3322941681679
267
400.2649280540543
160.3322941681679
269
400.2649280540543
160.3322941681679
270
400.2649280540543
160.3322941681679
315
400.2649280540543
160.3322941681679
364
400.2649280540543
160.3322941681679
347
400.2649280540543
160.3322941681679
312
400.2649280540543
160.3322941681679
274
400.2649280540543
160.3322941681679
237
400.2649280540543
160.3322941681679
278
400.2649280540543
160.3322941681679
284
400.2649280540543
160.3322941681679
277
400.2649280540543
160.3322941681679
317
400.2649280540543
160.3322941681679
313
400.2649280540543
160.3322941681679
318
400.2649280540543
160.3322941681679
374
400.2649280540543
160.3322941681679
413
400.2649280540543
160.3322941681679
405
400.2649280540543
160.3322941681679
355
400.2649280540543
160.3322941681679
306
400.2649280540543
160.3322941681679
271
400.2649280540543
160.3322941681679
306
400.2649280540543
160.3322941681679
315
400.2649280540543
160.3322941681679
301
400.2649280540543
160.3322941681679
356
400.2649280540543
160.3322941681679
348
400.2649280540543
160.3322941681679
355
400.2649280540543
160.3322941681679
422
400.2649280540543
160.3322941681679
465
400.2649280540543
160.3322941681679
467
400.2649280540543
160.3322941681679
404
400.2649280540543
160.3322941681679
347
400.2649280540543
160.3322941681679
305
400.2649280540543
160.3322941681679
336
400.2649280540543
160.3322941681679
340
400.2649280540543
160.3322941681679
318
400.2649280540543
160.3322941681679
362
400.2649280540543
160.3322941681679
348
400.2649280540543
160.3322941681679
363
400.2649280540543
160.3322941681679
435
400.2649280540543
160.3322941681679
491
400.2649280540543
160.3322941681679
505
400.2649280540543
160.3322941681679
404
400.2649280540543
160.3322941681679
359
400.2649280540543
160.3322941681679
310
400.2649280540543
160.3322941681679
337
400.2649280540543
160.3322941681679
360
400.2649280540543
160.3322941681679
342
400.2649280540543
160.3322941681679
406
400.2649280540543
160.3322941681679
396
400.2649280540543
160.3322941681679
420
400.2649280540543
160.3322941681679
472
400.2649280540543
160.3322941681679
548
400.2649280540543
160.3322941681679
559
400.2649280540543
160.3322941681679
463
400.2649280540543
160.3322941681679
407
400.2649280540543
160.3322941681679
362
400.2649280540543
160.3322941681679
405
400.2649280540543
160.3322941681679
417
400.2649280540543
160.3322941681679
391
400.2649280540543
160.3322941681679
419
400.2649280540543
160.3322941681679
461
400.2649280540543
160.3322941681679
472
400.2649280540543
160.3322941681679
535
400.2649280540543
160.3322941681679
622
400.2649280540543
160.3322941681679
606
400.2649280540543
160.3322941681679
508
400.2649280540543
160.3322941681679
461
400.2649280540543
160.3322941681679
390
400.2649280540543
160.3322941681679
432
400.2649280540543

In [80]:
for idx, serie_row in df.iterrows():
    aux=serie_row['passengers']
    if aux>(media_passengers+desviacion_estandar) or aux<(media_passengers-desviacion_estandar):
        df.at[idx,'outlier']=1

print(df)

     year      month  passengers  underperforming  outlier
0    1949    January         112                1        1
1    1949   February         118                1        1
2    1949      March         132                1        1
3    1949      April         129                1        1
4    1949        May         121                1        1
..    ...        ...         ...              ...      ...
139  1960     August         606                0        1
140  1960  September         508                0        1
141  1960    October         461                0        1
142  1960   November         390                0        0
143  1960   December         432                0        1

[144 rows x 5 columns]

In [84]:
df[df['outlier']==1]

     year      month  passengers  underperforming  outlier
0    1949    January         112                1        1
1    1949   February         118                1        1
2    1949      March         132                1        1
3    1949      April         129                1        1
4    1949        May         121                1        1
5    1949       June         135                1        1
6    1949       July         148                1        1
7    1949     August         148                1        1
8    1949  September         136                1        1
9    1949    October         119                1        1
10   1949   November         104                1        1
11   1949   December         118                1        1
12   1950    January         115                1        1
13   1950   February         126                1        1
14   1950      March         141                1        1
15   1950      April         135                1        1
16   1950        May         125                1        1
17   1950       June         149                1        1
20   1950  September         158                1        1
21   1950    October         133                1        1
22   1950   November         114                1        1
23   1950   December         140                1        1
24   1951    January         145                1        1
25   1951   February         150                1        1
34   1951   November         146                1        1
90   1956       July         413                0        1
91   1956     August         405                0        1
101  1957       June         422                0        1
102  1957       July         465                0        1
103  1957     August         467                0        1
104  1957  September         404                0        1
113  1958       June         435                0        1
114  1958       July         491                0        1
115  1958     August         505                0        1
116  1958  September         404                0        1
122  1959      March         406                0        1
124  1959        May         420                0        1
125  1959       June         472                0        1
126  1959       July         548                0        1
127  1959     August         559                0        1
128  1959  September         463                0        1
129  1959    October         407                0        1
131  1959   December         405                0        1
132  1960    January         417                0        1
134  1960      March         419                0        1
135  1960      April         461                0        1
136  1960        May         472                0        1
137  1960       June         535                0        1
138  1960       July         622                0        1
139  1960     August         606                0        1
140  1960  September         508                0        1
141  1960    October         461                0        1
143  1960   December         432                0        1

In [85]:
len(df[df['outlier']==1])

53